<!DOCTYPE html>
<html>
<head>
  <title>PlanesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>


  <nav>
    <%= link_to("Home", root_path)%>
    <%= link_to("Planes", planes_path)%>
    <%= link_to("Flights", flights_path)%>
    <%= link_to("Reservations", reservations_path)%>

    <% unless @current_user.present? %>
    <%= link_to("Login", login_path()) %>
    <%= link_to("SignUp", new_user_path()) %>
    <%else %>
    <%= link_to("Edit your profile", edit_user_path(@current_user.id)) %>
    <%= link_to("Log out #{@current_user.firstname} #{@current_user.lastname}", logout_path(), :method => :delete) %>

    You are logged in as <%= ("#{@current_user.firstname} #{@current_user.lastname}") %>
    <% end %>


    </nav>


<%= yield %>

</body>
</html>
